<div id="chatbox" class="chatbox" style="bottom: 0px;right: 20px;display: block;">
    <div class="chatboxhead">
        <div class="chatboxtitle">
            <span class="glyphicon glyphicon-user pulse"></span>&nbsp;
            <a href="#" id="displayname"></a>
        </div>
        <div class="chatboxoptions">
        </div>
        <br clear="all">
    </div>
    <div class="chatboxcontent">
        <div id="thread" ></div>
    </div>
    <div class="chatboxinput">
        <textarea id="message"
          class="chatboxtextarea form-control"></textarea>
    </div>
</div>
